@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
}


body{
  font-family: "Alef Hebrew";
  overflow: auto;
}


table {
  border: 0.5px solid black;
  border-collapse: collapse;
}

.roomSearch{
  height: 100px;
  overflow-y: scroll;
}

td,tr {
  border-width: 0;
}

.inputFindPatch{
  width: 90%;
  height: 100px;
}

/* -----------Map style----------- */
.box{
  float:right;
  height:152px;
  width: 152px;

}
.box_inner{
  height:150px;
  width: 150px;
}
.demo_box{
  width: 60px;
  height: 60px;
}
.demo_div{
  float:left;
  margin: 30px;
}
.clear{
  clear: both;
}
.class{
  border-width: 2px ;
  background-color: #869ec5;
  border-color: #869ec5;
  border-style: solid;
}
.free{
  border-width: 2px ;
  background-color: #02d310;
  border-color: #02d310;
  border-style: solid;
}
.other{
  border-width: 2px ;
  background-color: #7c4dff;
  border-color: #7c4dff;
  border-style: solid;
}
.engaged{
  border-width: 2px ;
  background-color: #ff6203;
  border-color:#ff6203;
  border-style: solid;
}
.lecture{
  border-width: 2px ;
  background-color: #ffe7b5;
  border-color: #ffe7b5;
  border-style: solid;
}
.notAvailable{
  border-width: 2px ;
  background-color:#ff032d;
  border-color: #ff032d;
  border-style: solid;
}
.office{
  border-width: 2px ;
  background-color:#6200ea;
  border-color: #6200ea;
  border-style: solid;
}
.hallway{
  border-width: 2px;
  background-color: #b5d4ff;
  border-color: #b5d4ff;
  border-style: solid;
}
.inPatch{
  border-width: 2px;
  background-color: #7b2aff;
  border-color: #7b2aff;
  border-style: solid;
}
.border{
  border-style: solid;
}
.borderTop{
  border-top-style:solid ;
  border-top-color: #000000;
}
.borderLeft{
  border-left-style: solid;
  border-left-color: #000000;
}
.borderRight{
  border-right-style: solid;
  border-right-color: #000000;
}
.borderBottom{
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
.borderTopLeft{
  border-left-style: solid;
  border-top-style:solid;
  border-top-color: #000000;
  border-left-color: #000000;
}
.borderBottomLeft{
  border-left-style: solid;
  border-bottom-style: solid;
  border-left-color: #000000;
  border-bottom-color: #000000;
}
.borderRightLeft{
  border-left-style: solid;
  border-right-style:solid;
  border-left-color: #000000;
  border-right-color: #000000;
}
.borderTopRight{
  border-top-style:solid;
  border-right-style:solid;
  border-top-color: #000000;
  border-right-color: #000000;

}
.borderTopLeft{
  border-top-style:solid;
  border-left-style:solid;
  border-left-color: #000000;
  border-top-color: #000000;
}
.borderTopBottom{
  border-top-style:solid;
  border-bottom-style: solid;
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.borderRightBottom{
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-color: #000000;
  border-bottom-color: #000000;
}
.borderTopRightLeft{
  border-left-style: solid;
  border-top-style:solid;
  border-right-style:solid;
  border-left-color: #000000;
  border-top-color: #000000;
  border-right-color: #000000;
}
.borderTopBottomLeft{
  border-left-style: solid;
  border-top-style:solid;
  border-bottom-style:solid;
  border-left-color: #000000;
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.borderRightBottomLeft{
  border-left-style: solid;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-color: #000000;
  border-bottom-color: #000000;
  border-right-color: #000000;
}
.borderTopRightBottom{
  border-top-style:solid;
  border-right-style:solid;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-top-color: #000000;
  border-right-color: #000000;
}
.borderRightBottomLeft{
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style:solid;
  border-left-color: #000000;
  border-bottom-color: #000000;
  border-right-color: #000000;
}
.borderRightBottomLeft{
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-left-color: #000000;
  border-bottom-color: #000000;
  border-right-color: #000000;
}
.borderTopRightBottomLeft{
  border-color: #000000;
  border-style: solid;
}

.buttonNav{
  font-size: 50px;
  width:24%;
  height:200px;
  background-color: #ffffff;
  border-collapse: collapse;
}
.buttonPopup{
  font-size: 50px;
  color:#e6e7eb;
  width:100%;
  height:200px;
  background-color: #030836;
  border-collapse: collapse;
}
main{
  width: 100%;
  text-align: center;
  display: block;
  margin-top:100px;
  height: 100%;
  overflow: auto;
}

header{
  height: 5%;
  width: 100%;
  background-color:yellowgreen;
  text-align: center;
  display: block;
  position:fixed;
  top:0;
}
footer {
  height: 10%;
  width:100%;
  background-color: white;
  display: block;
  text-align: center;
  position:fixed;
  bottom:0;
}
.modal-dialog{
  font-size:55px;
}
.modal-title{
  font-size:45px;
}
.form-control{
  height: 200px;
  width: 97%;
}
.modal-content{
  margin-top:300px ;
}
.modal-content h4{
  text-align: center;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:45px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size:45px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size:45px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size:45px;
}
input[type="text"] {
   font-size:65px;
 }
input[type=radio] {
  height:100px;
  width:100px;
  vertical-align: middle;
}